<!-- ****** about.html ****** -->
<section id="about" class="about section">
    <div class="container">
        <h2 class="title text-center" style="margin-bottom: 25px;">What is Piwik Advanced Online Marketing Plugin?</h2>

        <p class="intro text-center" style="margin-bottom: 20px;">
            With the Piwik AOM plugin you can integrate data like campaign names, ad impressions, costs etc. from
            advertising platforms such as <strong>Google AdWords</strong>, <strong>Microsoft Bing</strong>,
            <strong>Criteo</strong> and <strong>Facebook Ads</strong> into Piwik and combine that data with
            individual visits.<br/>
            Work with this valuable data directly in the Piwik UI or use the AOM plugin's API to export data to your
            data warehouse. Perform <strong>customer journey analysis</strong> or evaluate your online marketing's
            performance when applying different <strong>conversion attribution</strong> models.</p>


        <img src="{{ site.baseurl }}public/images/piwik-aom-screenshots.png"
             style="width: 100%; max-width: 880px; display: block; margin: auto;">

        <div style="margin-top: 10px; text-align: center;">
            <strong>Screenshots:</strong>
            <a href="{{ site.baseurl }}public/images/piwik-aom-marketing-performance.png"
               data-lightbox="image-1" data-title="Access performance KpI like CpO or RoI of your advertising activities">
                Marketing performance
                </a> &middot;
            <a href="{{ site.baseurl }}public/images/piwik-aom-row-evolution.png"
               data-lightbox="image-2" data-title="Evaluate the development of your KpI for configurable time periods">
                Row evolution
                </a> &middot;
            <a href="{{ site.baseurl }}public/images/piwik-aom-visitor-profile-popup.png"
               data-lightbox="image-3" data-title="See the cost of every single visit coming from an advertising activity">
                Visitor profile popup
                </a>
        </div>

    </div>
</section>
