<!-- ****** contact.html ****** -->
<section id="contact" class="contact section has-pattern">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title text-center">Contact</h2>
            <p class="intro text-center">We hope you find this Piwik plugin useful.<br/>
                Feel free to get in touch if you have any questions or suggestions.</p>

            <div class="author-message">
                <div class="profile">
                    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile-andre-kolell.png" alt="" />
                </div>
                <div class="speech-bubble">
                    <h3 class="sub-title">Got questions about Piwik AOM or suggestions how to improve?</h3>
                    <p>Feel free to create an <a href="https://github.com/advanced-online-marketing/AOM/issues">issue at
                        github</a> or contact me.</p>
                    <div class="source">
                        <span class="name"><a href="https://twitter.com/AndreKolell" target="_blank">André Kolell</a></span>
                        <br />
                        <span class="title">Online Marketing and Web Development Enthusiast</span>
                    </div>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/AndreKolell" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/andre-kolell-9a588a27"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.xing.com/profile/Andre_Kolell"><i class="fa fa-xing"></i></a></li>
                        <li><a href="https://github.com/andre-hh"><i class="fa fa-github"></i></a></li>
                        <li class="last"><a href="mailto: andre.kolell@gmail.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="author-message">
                <div class="profile">
                  <img class="img-responsive" src="{{ site.baseurl }}public/images/profile-daniel-stonies.png" alt="" />
                </div>
                <div class="speech-bubble">
                    <h3 class="sub-title">Want to get more out of Piwik AOM?</h3>
                    <p>You miss a feature or like intense support on your individual Piwik setup?<br/>
                        Get in touch with me and let's work out how we can make things going.</p>
                    <div class="source">
                        <span class="name">Daniel Stonies</span>
                        <br />
                        <span class="title">Passionate Web Developer and IT Project Manager</span>
                    </div>
                    <ul class="social-icons list-inline">
                        <li><a href="https://www.xing.com/profile/Daniel_Stonies"><i class="fa fa-xing"></i></a></li>
                        <li><a href="https://github.com/danielstonies"><i class="fa fa-github"></i></a></li>
                        <li class="last"><a href="mailto: daniel.stonies@googlemail.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
