<!-- ****** features.html ****** -->
<section id="features" class="features section">
    <div class="container">
        <h2 class="title text-center">Features</h2>

        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-lightbulb-o"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Take smarter online marketing decisions with Piwik AOM</h3>
                    <p>Enrich your <strong>customer journey's touchpoints</strong> with advertising cost data and
                        evaluate the <strong>RoI</strong> of every single advertising campaign and keyword!</p>
                </div>
            </div>
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-plug"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">API to import Piwik AOM data into your data warehouse</h3>
                    <p>Load your customer's journeys from Piwik AOM directly into your <strong>data warehouse</strong>
                        and conduct sophisticated <strong>conversion attribution analysis</strong>.</p>
                </div>
            </div>
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-thumbs-o-up"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Supports major advertising platforms and more to come</h3>
                    <p>Piwik AOM supports the integration of data from <strong>Google AdWords</strong>,
                        <strong>Microsoft Bing</strong>, <strong>Criteo</strong>, <strong>Facebook Ads</strong> and
                        <strong>Taboola</strong>. Additional platforms can be integrated!</p>
                </div>
            </div>

            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-shield"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Protect your sensitive data from other parties</h3>
                    <p>With <strong>self-hosted Piwik AOM</strong> you do not need to share your sensitive online
                        marketing KPIs with Google or anyone else any longer.</p>
                </div>
            </div>
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-github"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Benefit from free open source software</h3>
                    <p>Both Piwik and the Piwik AOM plugin are <strong>free and open source</strong>; no one stops you
                        from adapting the software to your individual requirements.</p>
                </div>
            </div>
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-users"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Join the Piwik and the <nobr>Piwik AOM</nobr> community</h3>
                    <p>You've got questions, found a bug or want to share your ideas...?
                        Use <a href="https://github.com/advanced-online-marketing/AOM/issues">github</a> to collaborate
                        with the growing Piwik community.</p>
                </div>
            </div>
        </div>
    </div>
</section>
